[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"
google = "*"
gunicorn = "*"
jinja2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
