<!doctype html>
<html lang='en'>
  <head>
    <title>QuickJobs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">
    <script src="https://kit.fontawesome.com/36ea4c6c8e.js" crossorigin="anonymous"></script>
  </head>
  <body class style="margin-bottom: 50px;">
    <div class= "navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" style="font-size: xx-large;">QuickJobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" style="font-size: x-large;" href="/">Home</a></li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
  <footer>
    <div class="container" style="margin-top: 50px;">
      <div class="bs-docs-section">
        <div class="row">
          <div class="col" style="display: flex; align-items: center; justify-content: center;">
            <p class="text" style="font-size: medium;">Comments / Suggestions / Complaints?</p>
          </div>
        </div>
        <div class="row">
          <div class="col" style="display: flex; align-items: center; justify-content: center;">
            <p class="text" style="font-size: medium;">Get in touch!</p>
          </div>
        </div>
        <div class="row">
          <div class="col" style="display: flex; align-items: center; justify-content: center;">
            <a class="btn btn-social btn-lg btn-linkedin" style="background-color:#0a66c2;" href="https://www.linkedin.com/in/ricardo-a-rodriguez-f/"><span class="fa fa-linkedin fa-lg"></span></a>
            <a class="btn btn-social btn-lg btn-medium" style="background-color: #02b875;" href="https://ricardo-rodriguez.medium.com"><span class="fa fa-medium fa-lg"></span></a>
            <a class="btn btn-social btn-lg btn-google" style="background-color: #db4437;" href="mailto:rodriguezr235@gmail.com"><span class="fa fa-google fa-lg"></span></a>
            <a class="btn btn-social btn-lg btn-github" style="background-color: #232f3e;" href="https://github.com/reesh19"><span class="fa fa-github fa-lg"></span></a>
            <a class="btn btn-social btn-lg btn-twitter" style="background-color: #1da1f2;" href="https://twitter.com/reesh_19"><span class="fa fa-twitter fa-lg"></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col" style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
            <small>Copyright &copy; 2021. All Rights Reserved</small>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
